body, html {
    position: relative;
    height: 100%;
    margin: 0;
    font-family: Helvetica, sans-serif;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn {
    background: #a492e6;
    color: #fff;
    padding: 10px 18px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .btn:hover {
    opacity: 0.8;
  }

  .overlay {
      position: absolute;
      background: rgba(00, 00, 00, .2);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10000;
  }

  .modal-container {
      position: relative;
  }

  .content {
    width: 400px;
    padding: 10px;
    background: #444;
    border-radius: 5px;
    color: #fff;
    margin: 0;
  }

  .close {
      color: #fff;
      position: absolute;
      text-decoration: none;
      right: -5px;
      top: -10px;
      background: #d00;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
  }

  .close:hover {
    background: #d33;
  }